.cbse
{
    margin-top:10px;
	border:solid;
	width:430px;
	height:430px;
	text-align:justify;
	background-image:url("https://img.freepik.com/premium-vector/modern-white-abstract-technology-background-design-vector-illustration_29865-5590.jpg") ;
    background-size:cover;
    float: left;
}
nav
{
	margin-top:15px;
	padding:10px;
	background-image:url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    text-align: center;
}
nav a
{
	text-decoration:none;
	color:white;
	padding:20px;
}
.sc
{
	color:black;
	text-align:center;
}
header
{
  border:ridge;
  text-align:center;
  background-image:url("https://png.pngtree.com/background/20210712/original/pngtree-d-indonesia-national-flag-frame-border-background-can-be-used-for-picture-image_1180187.jpg");
  background-size: cover;
}
.diploma
{
    margin-top:10px;
	border:solid;
	width:430px;
	height: 430px;
	text-align:justify;
	background-image:url("https://img.freepik.com/premium-vector/modern-white-abstract-technology-background-design-vector-illustration_29865-5590.jpg") ;
    background-size:cover;
    float:left;
    margin-left:98px;
}
.btec
{
    margin-top:10px;
	border:solid;
	width:430px;
	height: 430px;
	text-align:justify;
	background-image:url("https://img.freepik.com/premium-vector/modern-white-abstract-technology-background-design-vector-illustration_29865-5590.jpg") ;
    background-size:cover;
    float:left;
    margin-left:100px;
}
footer {
	background-image:url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  margin-top:490px;
  background-color:black ;
  color:whitesmoke;
  padding: 10px;
  text-align: center;
}