body
{
background-color:white;
}
nav
{
	margin-top:15px;
	padding:10px;
	background-image:url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    text-align: center;
}
nav a
{
	text-decoration:none;
	color:white;
	padding:20px;
}
.one
{
	float:left;
	width:20%;
	border:solid;
	height:auto;
	margin-top:30px;
}
.btn1
{
	margin-left:45px;
	color:whitesmoke;
	background-color:royalblue;
    font-size:20px;
    border-radius:5px;
}
.btn2
{
	margin-left:25px;
	color:whitesmoke;
	background-color:black;
    font-size:20px;
    border-radius:5px;
}
.para
{
	margin-left:10px;
}
.two
{
  margin-top:30px;
  float:left;
  height:auto;
  margin-left:30px;
  width:76%;
  border: solid;
  text-align:justify;
}
footer {
	background-image:url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  margin-top:388px;
  background-color:black ;
  color:whitesmoke;
  padding: 10px;
  text-align: center;
}
img
{
	border-radius:10px;
}
header 
{
	background-image:url("https://png.pngtree.com/background/20210712/original/pngtree-d-indonesia-national-flag-frame-border-background-can-be-used-for-picture-image_1180187.jpg");
	background-size:cover;
  background-color: transparent;
  color: black;
  height:170px;
  text-align: center;
  border-style: ridge;
 }
.font
{
 font-style:italic;
}
.img73
{
	border-radius:100px;
	margin-bottom:20px;
	background-color:red;
}