body 
{    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}
header
{
	background-image:url("https://png.pngtree.com/background/20210712/original/pngtree-d-indonesia-national-flag-frame-border-background-can-be-used-for-picture-image_1180187.jpg");
	background-size: cover;
	margin-top:10px;
}
header h2
{
    font-size: 2.5rem;
	color: black;
}

.navbar 
{
    margin-bottom: 2rem;
}

.card
 {
    border: none;
    border-radius: 10px;
}

.card-body 
{
    padding: 2rem;
}

.card-text 
{
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
	text-align: justify;
}

footer
{
    margin-top: 2rem;
}

footer a
{
    text-decoration: none;
}

footer a:hover 
{
    text-decoration: underline;
}