header
{
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
  background-image:url("https://png.pngtree.com/background/20210712/original/pngtree-d-indonesia-national-flag-frame-border-background-can-be-used-for-picture-image_1180187.jpg");
  background-size: cover;
}

footer
{
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
iframe 
{
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar
{
    margin-bottom: 2rem;
    color:white;
}